:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.main {
    height: 100%;
}

.menu {
    width: 15%;
    height: 100%;
    margin: 0;
}

.grid__full-width {
    width: 100px;
}

.grid__row {
    display: flex;
    flex-wrap: warp;
    height: auto;
}



