.grid__column_2 {
    background-color: #001725;
    font-size: 2.5rem;
    min-height: 100vh;
}

.menu__user-list {
    list-style: none;
    padding-left: 0;
    color: white;
    text-align: center;
}

.menu__user-name {
    display: inline-block;
    font-size: 3.5rem;
    margin: 10px 20px 10px;
    color: white;
}

.menu__user {
    margin-top: 10px;
}

.menu__user-tab {
    margin-left: 20px;
    display: inline-block;
    font-size: 3.5rem;
    color: white;
}

.menu__user-item {
    margin: 10px 0px 10px 0px;
    font-weight: 500;
    padding: 5px;
}

.menu__user-name:hover, .menu__itemchoose:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.fa-solid:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.img__icon {
    height: 25px;
}

.menu__itemchoose {
    border-radius: 20px;
    border: 1px solid #FFF0CE;
    padding: 10px;
}